/node_modules
/config/custom-environment-variables.json
/.vscode
/coverage
/.nyc_output
logfile.log
/images/**
!/images/**/
!/images/**/.gitkeep
/CustomerOrderExcel/**
!/CustomerOrderExcel/**/
!/CustomerOrderExcel/**/.gitkeep
